@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-dm-serif: ${dmSerifText.style.fontFamily};
    --font-noto: ${notoSans.style.fontFamily};
    --font-ibm-plex: ${ibmPlexSans.style.fontFamily};
  }
  * {
    @apply border-border;
  }
}


